@{
    ViewData["Title"] = "HomeAdmin Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<section>
    <h1 class="mt-4">RD_WorkManageSystem_Web 工作管理系統(Admin)</h1>

    @*<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
    </ol>*@
    <div class="mb-2">
        @Html.ActionLink("MyTest", "Index", "MyTest", null, new { @class = "btn btn-info" })
    </div>

    <!--顯示CKeditor測試--><!---->
    @*<div id="embedlyYoutubeTest">
    <div class="ck-content">
    <figure class="table" style="width:100%;">
    <table class="ck-table-resized">
    <colgroup><col style="width:44.36%;"><col style="width:55.64%;"></colgroup>
    <tbody>
    <tr>
    <td>
    <figure class="media"><oembed url="https://www.youtube.com/embed/72zN0AI5Uw8"></oembed></figure>
    </td>
    <td>&nbsp;</td>
    </tr>
    <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
    </tbody>
    </table>
    </figure>
    </div>

    <script>
    $(document).ready(function () {
    EmbeddedBind_Byembedly("embedlyYoutubeTest");
    })
    </script>
    </div>*@
</section>

<!--初始化建構============================================================-->
@*<script>
        $(document).ready(function () {

        })
    </script>*@
